@model NavagisInternalTool.Models.AdminUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 login-form-1">
             <h3>Admin Login</h3>
             @using (Html.BeginForm("Login", "Admin"))
             {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username*" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password*" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                if (ViewBag.Message != null)
                {
                    <div class="form-group">
                        <span class="text-danger">@ViewBag.Message</span>
                    </div>
                }
            }
        </div>
    </div>
</div>

