@model NavagisInternalTool.Models.Setting

@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin settings:</h2>

<div>
    <hr />
    <div style="width:550px" class="table-border-with-shadow">
        @using (Html.BeginForm("Setting", "Admin"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <b>@Html.DisplayNameFor(model => model.ClientId):</b>
                @Html.TextBoxFor(model => model.ClientId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>

            <div class="form-group">
                <b>@Html.DisplayNameFor(model => model.ClientSecret):</b>
                @Html.TextBoxFor(model => model.ClientSecret, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientSecret)
            </div>

            <div class="form-group">
                <b>@Html.DisplayNameFor(model => model.BillingAccountName):</b>
                @Html.TextBoxFor(model => model.BillingAccountName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BillingAccountName)
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            if (Session["Message"] != null)
            {
                <div class="form-group">
                    <span class="text-danger">@Session["Message"]</span>
                </div>
                Session.Remove("Message");
            }

        }
    </div>
</div>

