@model NavagisInternalTool.Models.Setting

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Setting</h2>
<div class="table-border-with-shadow">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClientId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClientSecret)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientSecret)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ServiceAccountEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceAccountEmail)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit")
    </p>
</div>